## Basic Libraries Import and Set Up

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

## Importing the Dataset

The DATE column has to be parsed to ensure that errors attached to not parsing it are eliminated.

In [3]:
df = pd.read_csv("Production Data Cleaned.csv", parse_dates=['Date'])

In [4]:
df.head()

,Date,NUMBER OF DRUM(QTY),Unnamed: 2,Price (?) per 25 litres,Sales (?),EXPENSES ANALYSIS,Gross Cost of Production (?),Gross Profit (?),Unnamed: 8,Unnamed: 9,Unnamed: 10,Litres
0,2023-02-01,6 DRUMS,6.0,20000,120000,LABOUR PAYMENT FOR PRODUCTION,67450,52550,NaN,NaN,NaN,150.0
1,2023-02-01,1 DRUM MCFDS,1.0,10000,10000,NaN,0,10000,NaN,NaN,NaN,25.0
2,2023-01-03,6 DRUMS,6.0,23000,138000,LABOUR PAYMENT FOR PRODUCTION,51200,86800,NaN,NaN,NaN,150.0
3,2023-02-03,6 DRUMS,6.0,20000,120000,LABOUR PAYMENT FOR PRODUCTION,63450,56550,NaN,NaN,NaN,150.0
4,2023-08-03,5 GALLONS,5.0,19000,95000,LABOUR PAYMENT FOR PRODUCTION,64140,30860,NaN,NaN,NaN,125.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          47 non-null     datetime64[ns]
 1   NUMBER OF DRUM(QTY)           47 non-null     object
 2   Unnamed: 2                    47 non-null     float64
 3   Price (?) per 25 litres       47 non-null     int64
 4   Sales (?)                     47 non-null     int64
 5   EXPENSES ANALYSIS             44 non-null     object
 6   Gross Cost of Production (?)  47 non-null     int64
 7   Gross Profit (?)              47 non-null     int64
 8   Unnamed: 8                    0 non-null      float64
 9   Unnamed: 9                    0 non-null      float64
 10  Unnamed: 10                   0 non-null      float64
 11  Litres                        47 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(2)
memory usage: 4.5+ KB

In [6]:
df.describe()

,Unnamed: 2,Price (?) per 25 litres,Sales (?),Gross Cost of Production (?),Gross Profit (?),Unnamed: 8,Unnamed: 9,Unnamed: 10,Litres
count,47.000000,47.000000,47.000000,47.000000,47.000000,0.0,0.0,0.0,47.000000
mean,5.585106,17276.595745,107170.212766,61169.042553,46001.170213,NaN,NaN,NaN,139.627660
std,2.017099,4095.077255,45631.472334,39739.356924,24962.189434,NaN,NaN,NaN,50.427463
min,0.000000,7000.000000,10000.000000,0.000000,-15000.000000,NaN,NaN,NaN,0.000000
25%,5.250000,15000.000000,95500.000000,52050.000000,33575.000000,NaN,NaN,NaN,131.250000
50%,6.000000,18000.000000,114000.000000,59900.000000,50700.000000,NaN,NaN,NaN,150.000000
75%,7.000000,20000.000000,123000.000000,64440.000000,61000.000000,NaN,NaN,NaN,175.000000
max,8.000000,24000.000000,287000.000000,287000.000000,86990.000000,NaN,NaN,NaN,200.000000

## Data Cleaning
Dropping off the unnamed colmns as well as the EXPENSES ANALYSIS column because of its data type being object and as such has no importance to the analysis.

In [7]:
df.drop('Unnamed: 8', axis=1, inplace=True)
df.drop('Unnamed: 9', axis=1, inplace=True)
df.drop('Unnamed: 10', axis=1, inplace=True)
df.drop('Unnamed: 2', axis=1, inplace=True)
df.drop('EXPENSES ANALYSIS', axis=1, inplace=True)

In [8]:
df.head()

,Date,NUMBER OF DRUM(QTY),Price (?) per 25 litres,Sales (?),Gross Cost of Production (?),Gross Profit (?),Litres
0,2023-02-01,6 DRUMS,20000,120000,67450,52550,150.0
1,2023-02-01,1 DRUM MCFDS,10000,10000,0,10000,25.0
2,2023-01-03,6 DRUMS,23000,138000,51200,86800,150.0
3,2023-02-03,6 DRUMS,20000,120000,63450,56550,150.0
4,2023-08-03,5 GALLONS,19000,95000,64140,30860,125.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          47 non-null     datetime64[ns]
 1   NUMBER OF DRUM(QTY)           47 non-null     object
 2   Price (?) per 25 litres       47 non-null     int64
 3   Sales (?)                     47 non-null     int64
 4   Gross Cost of Production (?)  47 non-null     int64
 5   Gross Profit (?)              47 non-null     int64
 6   Litres                        47 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 2.7+ KB

In [10]:
df.drop('NUMBER OF DRUM(QTY)', axis=1, inplace=True)

In [11]:
df.head()

,Date,Price (?) per 25 litres,Sales (?),Gross Cost of Production (?),Gross Profit (?),Litres
0,2023-02-01,20000,120000,67450,52550,150.0
1,2023-02-01,10000,10000,0,10000,25.0
2,2023-01-03,23000,138000,51200,86800,150.0
3,2023-02-03,20000,120000,63450,56550,150.0
4,2023-08-03,19000,95000,64140,30860,125.0

## Exploratory Data Analysis